.info-div {
	width: 100vw;
	position: relative;
	left: calc(-50vw + 50%);
}

	.info-div img {
		width: 100%;
	}

tbody tr td:first-child {
	width: 8em;
	min-width: 8em;
	max-width: 8em;
	word-break: break-all;
}

.button-group {
	display: flex;
	flex-direction: column;
	padding: 0 0 0 0;
}

	.button-group img {
		width: 60px;
		height: 60px;
		margin-bottom: 10px;
	}

#custCarousel .carousel-indicators {
	position: relative;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	margin: 0 0 0 0;
	right: 0;
}

	#custCarousel .carousel-indicators > li {
		border-bottom: 1px solid transparent;
		border-top: 1px solid transparent;
		width: 40px;
		height: 40px;
		opacity: 1;
	}

	#custCarousel .carousel-indicators li img {
		height: 100%;
		width: 100%;
		display: block;
		z-index: 100;
		border: 2px solid grey;
	}



h1 {
	font-size: 20px;
	overflow: hidden;
	text-align: center;
}

	h1:before,
	h1:after {
		background-color: white;
		content: "";
		display: inline-block;
		height: 1px;
		position: relative;
		vertical-align: middle;
		width: 50%;
	}

	h1:before {
		right: 0.5em;
		margin-left: -50%;
	}

	h1:after {
		left: 0.5em;
		margin-right: -50%;
	}

td {
	vertical-align: top;
}
