.image-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    width: 90vw;
    position: relative;
    left: calc(-40vw + 48.5%);
}



.square {
    width: 160px;
    height: 160px;
    background-color: black;
    position: relative;
    box-shadow: 0 0 0 2px white; /* Add white outline */
    /*overflow: hidden;*/
}

.text {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 14px;
    word-wrap: break-word; /* Allow text to break on spaces */
}

.img-with-text {
    text-align: center;
    width: 160px;
    margin-right: 8px;
}

.pageNumbers {
    text-align: center;
}

.img-with-text img {
    display: block;
    margin: 0 auto;
    max-width: 160px;
}

.navbar ul {
    padding: 0px;
}

.navbar {
    line-height: 0px;
}

input[type=checkbox]:checked + span {
    color: white !important;
}

.text-grey {
    color: grey;
}

.search-bar {
    width: 100%;
    height: 40px;
    color: white;
    background: rgba(255,255,255,0.2);
    border: none;
    outline-width: 0;
    padding-left: 50px;
}

.search-bar-form {
    width: 90vw;
    position: relative;
    left: calc(-40vw + 40.5%);
}

.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}

.icon {
    padding: 13px;
    color: white;
    min-width: 50px;
    text-align: center;
}

.checkbox-container {
    position: absolute;
    top: 7px;
    right: 0px;
    padding-right: 0px;
}

    .checkbox-container label {
        margin-right: 25px;
    }
