@{
    ViewData["Title"] = "About";
}
@*<h1>@ViewData["Title"]</h1>*@

<link rel="stylesheet" href="~/css/Information-pages.css">


<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-light text-wrapper-div">
        <p>
            African Heritage Documentation & Research Centre (AHDRC) is a Non-Profit Organisation founded in 2016 and based in Brussels, Belgium. Our mission is to assist research on classical sub-Saharan African material heritage. This is done through an online database, offering a photo archive of both published and unpublished African art objects and field pictures.
            As of January 2022, we have over 192.000 unique objects in our database.
        </p><p>
            Besides this archive, we have the largest database on people relevant to classical African art, the Who’s Who in African art, including approximately 20.000 names.
        </p><p>
            Our main objective is to register all existing knowledge about African Cultures and its Customs. As a lot of this knowledge is very scattered, it is our wish to offer a single access-point to all this data
        </p><p>
            These images of African art are drawn from private and museum collections, dealers, general archives, and the existing body of literature including books, articles, notices, and auction catalogues.
        </p><p>
            The database may be searched by country, cultural group, object type, and many other fields; enabling the user to do specific searches. The database may only be used for research purposes.
            It is our goal to encourage scientific research by making our platform available to as broad as possible public.
        </p><p>
            To expand our digital database, we process information from the public domain and private archives. We are currently integrating this data on our platform and are adding functionalities such as, workshop recognition, origin determination and indigenous names.
        </p><p>
            It should be noted that AHDRC makes no claims to authenticity of the objects illustrated (by any definition of the term “authentic”) and the inclusion or exclusion of an image is at the sole discretion of AHDRC.
        </p><p>
            The archive will also include opinions.
        </p><p>
            We expect that this will provide a forum that will be useful to all researchers.
        </p><p>
            Please note that AHDRC does not control rights and reproductions for the photographs in the database. Persons seeking permission to publish or otherwise reproduce an image should contact the photo source.
        </p><p>
            In conjunction with our established network of public institutions in Europe and the USA, we are building relationships with institutes in Africa. Due to our in-depth expertise on archiving we would like to share this knowledge with African institutions, assist them with archiving their collection and offer a hosting space on our platform.
        </p>
    </div>
    <div class="col-md-2"></div>
</div>