@{
    ViewData["Title"] = "Disclaimer";
}
<link rel="stylesheet" href="~/css/Information-pages.css">

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-light text-wrapper-div">
<h1>@ViewData["Title"]</h1>

<p>AHDRC makes no representations or warranties of any kind, express or implied, as to the website’s operation or the information, content or materials included on the website; all of which are provided on an "as is" and "as available" basis. To the full extent permissible by applicable law, AHDRC hereby disclaims all warranties, express or implied, including but not limited to implied warranties of merchantability and fitness for any particular purpose. AHDRC will not be liable for any damages of any kind arising from your use of or inability to use the website. You expressly agree that you use the website, or any materials or content from the website, solely at your own risk. You also hereby agree to indemnify AHDRC, its employees, agents, and affiliates from any and all claims and/or damages (including but not limited to reasonable attorneys' fees) resulting from any claim brought by any third party relating to your use of the website or any materials or content obtained from the website. AHDRC reserves the right to change, at any time, in its sole discretion, the Terms of Use under which this site is offered. Your continued use of this site constitutes your agreement to all such terms. You are responsible for reviewing these Terms of Use on a regular basis.</p>

    </div>
    <div class="col-md-2"></div>
</div>