@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form asp-controller="Artworks" asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                Find by identifier: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                <button id="update-profile-button" type="submit" class="btn btn-primary">Search</button>
            </p>
        </div>
    </form>
</div>

<footer class="footer text-muted">
    <div class="container text-light">
        background photo: info | <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a> | <a asp-area="" asp-controller="Home" asp-action="Terms">Terms of use</a> | <a asp-area="" asp-controller="Home" asp-action="Disclaimer">Disclaimer</a> | &copy; 2021 - AHDRC NPO. All rights reserved</a>
    </div>
</footer>
