@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<footer class="footer text-muted">
    <div class="container text-light">
        background photo: info | <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a> | <a asp-area="" asp-controller="Home" asp-action="Terms">Terms of use</a> | <a asp-area="" asp-controller="Home" asp-action="Disclaimer">Disclaimer</a> | &copy; 2021 - AHDRC NPO. All rights reserved</a>
    </div>
</footer>
