@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form asp-controller="Artworks" asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                Find by identifier: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                <button id="update-profile-button" type="submit" class="btn btn-primary">Search</button>
            </p>
        </div>
        <div id="checkbox-container">
        @if (User.IsInRole("Administrator") || User.IsInRole("Subscriber"))
        { 
        <label>
            <input type="checkbox" name="selectedCategory" value="au" id="au-checkbox" />
            <span>au</span>
        </label>
        <label>
            <input type="checkbox" name="selectedCategory" value="bk" id="bk-checkbox" />
            <span>bk</span>
        </label>
        <label>
            <input type="checkbox" name="selectedCategory" value="co" id="co-checkbox" />
            <span>co</span>
        </label>
        <label>
            <input type="checkbox" name="selectedCategory" value="pc" id="pc-checkbox" />
            <span>pc</span>
        </label>
        <label>
            <input type="checkbox" name="selectedCategory" value="ph" id="ph-checkbox" />
            <span>ph</span>
        </label>
        <label>
            <input type="checkbox" name="selectedCategory" value="wh" id="wh-checkbox" />
            <span>wh</span>
        </label>
        <label>
            <input type="checkbox" name="selectedCategory" value="xp" id="xp-checkbox" />
            <span>xp</span>
        </label>
        } else { 
        <label>
            <input type="checkbox" name="selectedCategory" value="au" id="au-checkbox" disabled/>
            <span>au</span>
        </label>
        <label>
            <input type="checkbox" name="selectedCategory" value="bk" id="bk-checkbox" disabled/>
            <span>bk</span>
        </label>
        <label>
            <input type="checkbox" name="selectedCategory" value="co" id="co-checkbox" disabled/>
            <span>co</span>
        </label>
        <label>
            <input type="checkbox" name="selectedCategory" value="pc" id="pc-checkbox" />
            <span>pc</span>
        </label>
        <label>
            <input type="checkbox" name="selectedCategory" value="ph" id="ph-checkbox" />
            <span>ph</span>
        </label>
        <label>
            <input type="checkbox" name="selectedCategory" value="wh" id="wh-checkbox" />
            <span>wh</span>
        </label>
        <label>
            <input type="checkbox" name="selectedCategory" value="xp" id="xp-checkbox" />
            <span>xp</span>
        </label>
        }
    </div>
    </form>
</div>

@section Scripts
    {
    <script>

        var checkboxValues = JSON.parse(localStorage.getItem('checkboxValues')) || {},
            $checkboxes = $("#checkbox-container :checkbox");

        $checkboxes.on("change", function() {
            $checkboxes.each(function() {
                checkboxValues[this.id] = this.checked;
            });

            localStorage.setItem("checkboxValues", JSON.stringify(checkboxValues));
        });

        // On page load
        $.each(checkboxValues, function(key, value) {
            $("#" + key).prop('checked', value);
        });
    </script>
}


