@{
    ViewData["Title"] = "Partnerships";
}
<link rel="stylesheet" href="~/css/cardoverlay.css">


<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-light text-wrapper-div">
        <h1>@ViewData["Title"]</h1>

        <p>Use this page to detail your site's partnerships.</p>
    </div>
    <div class="col-md-2"></div>
</div>