@{
    ViewData["Title"] = "Privacy Policy";
}
<link rel="stylesheet" href="~/css/Information-pages.css">

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-light text-wrapper-div">
<h1>@ViewData["Title"]</h1>

<p>AHDRC is committed to protecting the privacy of visitors to its website.</p>
<p>AHDRC complies to the rules set out in the EU General Data Protection Regulation (GDPR).</p>

    </div>
    <div class="col-md-2"></div>
</div>