@{
    ViewData["Title"] = "Terms";
}
<link rel="stylesheet" href="~/css/cardoverlay.css">

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-light text-wrapper-div">
<h1>@ViewData["Title"]</h1>



<p>AHDRC is committed to providing broad access to the database for teaching, learning, research, and other non-commercial purposes of scholarship.</p>
<p>AHDRC does not always hold the copyright to the materials on the Website and, in such instances, cannot grant or deny permission to use them. Accordingly, you are solely responsible for determining the copyright status of any materials you may wish to use, to investigate the owner of the copyright, where applicable, and to obtain permission for your intended use when required to do so.</p>
<p>AHDRC does not warrant that use of any materials or content displayed on its website will not infringe the rights of third parties.</p>

    </div>
    <div class="col-md-2"></div>
</div>
